.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

.App-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 800px;
}

.App-field {
  display: flex;
  align-items: center;
  width: 100%;
}

.App-label {
  min-width: 100px;
}

.App-button {
  margin: 10px;
  padding: 10px;
}

.App-input {
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
}

.App-textarea {
  width: 100%;
  margin: 10px;
}
